@font-face {
  font-family: Title;
  src: url("../../../../blog/static/fonts/SourceSerif4-Medium.ttf") format("TrueType"), url("../../../../blog/static/fonts/SourceSerif4-Medium.woff") format("woff"), url("../../../../blog/static/fonts/SourceSerif4-Regular.ttf") format("TrueType"), url("../../../../blog/static/fonts/SourceSerif4-Regular.woff") format("woff");
}
@font-face {
  font-family: Text;
  src: url("../../../../blog/static/fonts/SourceSans3-Regular.ttf") format("TrueType"), url("../../../../blog/static/fonts/SourceSans3-Regular.woff") format("woff");
}
::-moz-selection {
  color: black;
  background-color: rgba(253, 208, 23, 0.5);
}

::selection {
  color: black;
  background-color: rgba(253, 208, 23, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: Text, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.bl-site-pusher {
  transition: 0.4s ease-out;
  position: sticky;
}

.gen-hashtags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 0;
  width: 100%;
}

.gen-hashtag {
  display: inline-block;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  color: #FDD017;
  background-color: #090A0C;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  overflow-x: hidden;
}

.bl-big-title {
  font-size: 7rem;
  color: white;
}

.bl-under-big-title {
  font-size: 2rem;
  color: white;
}

.bl-big-head {
  min-height: 100vh;
  width: 100%;
  background-color: #090A0C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  position: relative;
}
.bl-big-head .bl-topbar {
  background-color: #090A0C;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-wrap: nowrap;
  padding: 10px 3rem;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}
.bl-big-head .bl-topbar .bl-site-name {
  font-size: 2rem;
}
.bl-big-head .bl-topbar .bl-menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: nowrap;
}
.bl-big-head .bl-topbar .bl-menu ul .bl-links,
.bl-big-head .bl-topbar .bl-menu ul .bl-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: nowrap;
}
.bl-big-head .bl-topbar .bl-menu ul .bl-icons {
  justify-content: flex-end;
  gap: 15px;
}
.bl-big-head .bl-topbar .bl-menu ul .bl-icon {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  font-size: 1.1rem;
  color: black;
  cursor: pointer;
}
.bl-big-head .bl-topbar .bl-menu ul .bl-icon:hover, .bl-big-head .bl-topbar .bl-menu ul .bl-icon:focus {
  background-color: #FDD017;
  color: black;
}
.bl-big-head .bl-topbar .bl-menu ul a {
  color: white;
  display: inline-block;
  text-align: center;
  padding-bottom: 3px;
  border-bottom: 0.7px solid transparent;
}
.bl-big-head .bl-topbar .bl-menu ul a:hover {
  color: #FDD017;
  border-block-color: #FDD017;
}
.bl-big-head .bl-topbar .bl-menu ul .bl-add-link {
  border: 1px solid white;
  padding: 8px 30px;
  border-radius: 25px;
  color: white;
  transition: 0.4s ease-out;
}
.bl-big-head .bl-topbar .bl-menu ul .bl-add-link:hover {
  background-color: #FDD017;
  color: #090A0C;
  border-color: #FDD017;
}
.bl-big-head .bl-topbar .bl-menu ul .bl-menu-icon {
  display: none;
}
.bl-big-head .bl-topbar .bl-menu ul .bl-search-icon {
  transition: 0.4s ease-out;
}
.bl-big-head .bl-topbar .bl-menu ul .bl-search-icon-js {
  opacity: 0;
}
.bl-big-head .bl-centred {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  padding-top: 30px;
}
@keyframes boom-boom {
  0% {
    transform: initial;
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: initial;
  }
}
.bl-big-head .bl-centred .bl-stats {
  background-color: #090A0C;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: nowrap;
  color: white;
}
.bl-big-head .bl-centred .bl-stats .bl-num {
  color: #FDD017;
}
.bl-big-head .bl-arrow-down {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #FDD017;
  color: #090A0C;
  font-size: 1.2rem;
  position: absolute;
  bottom: 80px;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  animation: down-down 3s infinite;
}
.bl-big-head .bl-say-what-it-is {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #FDD017;
  color: #FDD017;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 8px;
}
@keyframes down-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(40px);
  }
}

.bl-content {
  min-height: 100vh;
  padding-top: 30px;
}
.bl-content .bl-big-title {
  width: 100%;
  text-align: center;
}
.bl-content .bl-cards {
  padding: 10px 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: start;
}
.bl-content .bl-cards .bl-card {
  background-color: #090A0C;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.4s ease-out;
}
.bl-content .bl-cards .bl-card .bl-img {
  position: relative;
}
.bl-content .bl-cards .bl-card .bl-img .gen-copy-link {
  position: absolute;
  right: 1rem;
  top: 20px;
  background-color: #FDD017;
  color: black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  transition: 0.4s ease-out;
  cursor: copy;
}
.bl-content .bl-cards .bl-card .bl-img .gen-copy-link:hover, .bl-content .bl-cards .bl-card .bl-img .gen-copy-link:active {
  background-color: #dfb402;
}
.bl-content .bl-cards .bl-card .bl-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: nowrap;
  padding: 20px;
}
.bl-content .bl-cards .bl-card .bl-card-content h2 {
  color: #FDD017;
  font-size: 1.5rem;
  word-wrap: break-word;
}
.bl-content .bl-cards .bl-card .bl-card-content p {
  word-wrap: break-word;
}
.bl-content .bl-cards .bl-card .bl-card-content .bl-date {
  color: #FDD017;
}
.bl-content .bl-cards .bl-card .bl-card-content .bl-author {
  color: #FDD017;
}
.bl-content .bl-cards .bl-card .bl-card-content .bl-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
}
.bl-content .bl-cards .bl-card .bl-card-content .bl-read {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FDD017;
  color: black;
  border-radius: 7px;
}
.bl-content .bl-cards .bl-card .bl-card-content .bl-modify,
.bl-content .bl-cards .bl-card .bl-card-content .bl-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #F7FAFB;
  color: #090A0C;
  font-size: 1.1rem;
  transition: 0.4s ease-in;
}
.bl-content .bl-cards .bl-card .bl-card-content .bl-delete {
  color: red;
}
.bl-content .bl-cards .bl-card .bl-card-content .gen-online {
  color: #00FF00;
  background-color: #333;
}
.bl-content .bl-cards .bl-card .bl-card-content .gen-outline {
  color: red;
}
.bl-content .bl-cards .bl-card .bl-card-content #bl-management-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  flex-wrap: nowrap;
  width: 100%;
}
.bl-content .bl-pagination {
  background-color: inherit;
  padding: 10px 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
}
.bl-content .bl-pagination ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
}
.bl-content .bl-pagination ul a {
  color: inherit;
}
.bl-content .bl-pagination ul li {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  border: 0.7px solid black;
  cursor: pointer;
}
.bl-content .bl-pagination ul li:hover, .bl-content .bl-pagination ul li:focus {
  background-color: #090A0C;
  color: #FDD017;
}
.bl-content .bl-pagination ul li.bl-current-pagination {
  background-color: #090A0C;
  color: #FDD017;
}
.bl-content .bl-pagination .bl-pagonation-locate {
  font-size: 1.1rem;
  display: inline-block;
  margin-top: 5px;
}

.bl-search-form {
  width: 100%;
  min-height: 70px;
  top: 60px;
  left: 0;
  right: 10px;
  position: fixed;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  transform: translateY(-180%);
  transition: 0.4s ease-out;
}
.bl-search-form .bl-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  flex-wrap: nowrap;
  box-shadow: 1px 1px 11px 1px black;
  border-radius: 5px;
  overflow: hidden;
}
.bl-search-form .bl-wrapper input, .bl-search-form .bl-wrapper button {
  padding: 10px 20px;
  font-family: Text, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  height: 50px;
}
.bl-search-form .bl-wrapper input {
  width: 100%;
}
.bl-search-form .bl-wrapper input::-webkit-search-cancel-button {
  display: none;
}
.bl-search-form .bl-wrapper button {
  background-color: #090A0C;
  color: #FDD017;
}

.bl-search-form-js {
  transform: initial;
}

.da-title-clignote {
  color: red;
}

.ask-before-deleting {
  overflow: hidden;
}

.ask-before-deleting .gen-blurer-js {
  display: flex;
}

.gen-blurer {
  position: fixed;
  z-index: 101;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  display: none;
  padding: 20px;
}
.gen-blurer .gen-modal-confirm {
  border-radius: 10px;
  background-color: #090A0C;
  color: white;
  padding: 20px;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: nowrap;
  width: 400px;
}
.gen-blurer .gen-modal-confirm .gen-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: nowrap;
}
.gen-blurer .gen-modal-confirm .gen-top .gen-ask {
  text-align: center;
}
.gen-blurer .gen-modal-confirm .gen-top .gen-title {
  text-align: center;
  color: #FDD017;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  flex-wrap: nowrap;
}
.gen-blurer .gen-modal-confirm .gen-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0;
  flex-wrap: nowrap;
}
.gen-blurer .gen-modal-confirm .gen-btn {
  padding: 10px 30px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.gen-blurer .gen-modal-confirm .gen-btn.gen-yes {
  background-color: #00FF00;
}
.gen-blurer .gen-modal-confirm .gen-btn.gen-no {
  background-color: red;
}

.gen-back-to-top {
  position: fixed;
  z-index: 10000;
  bottom: 20px;
  right: 30px;
  padding: 15px;
  border-radius: 50%;
  background-color: #FDD017;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  color: black;
  opacity: 0;
  transition: 0.4s;
  transform: translateY(10px);
}

.gen-back-to-top-js {
  opacity: 1;
  transform: translateY(-10px);
}

@media only all and (max-width: 1250px) {
  .bl-content .bl-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only all and (max-width: 1015px) {
  .bl-content .bl-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only all and (max-width: 950px) {
  .bl-big-head .bl-topbar .bl-menu ul .bl-add-link {
    border-radius: 0;
  }
  .bl-big-title {
    width: 80%;
    margin: auto;
  }
  .bl-big-head .bl-topbar .bl-menu ul .bl-links {
    position: fixed;
    z-index: 98;
    height: 100%;
    right: 0;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 100%;
    background-color: #090A0C;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 0;
    flex-wrap: nowrap;
    padding-top: 60px;
    transition: 0.4s ease-out;
    transform: translateX(100%);
  }
  .bl-big-head .bl-topbar .bl-menu ul .bl-links a {
    display: inline-block;
    padding: 20px;
    width: 100%;
    text-align: center;
    border: none;
    color: white;
  }
  .bl-big-head .bl-topbar .bl-menu ul .bl-links a:hover {
    background-color: #ad8b01;
  }
  .bl-big-head .bl-topbar .bl-menu ul .bl-menu-icon {
    display: flex;
  }
  .body-js {
    overflow: hidden;
  }
  .body-js .bl-site-pusher .bl-big-head .bl-topbar .bl-menu ul .bl-links {
    transform: initial;
  }
}
@media only all and (max-width: 720px) {
  .bl-content .bl-cards {
    grid-template-columns: auto;
  }
}
@media only all and (max-width: 460px) {
  .bl-big-title {
    font-size: 3rem !important;
    text-align: center;
    width: 100%;
    padding: 0 20px;
  }
  .bl-big-head .bl-centred {
    padding-top: 20px;
  }
  .bl-big-head .bl-topbar .bl-menu .bl-icons .bl-add-link {
    display: none;
  }
  .gen-blurer .gen-modal-confirm {
    width: 95%;
    margin: auto;
  }
}
@media only all and (max-width: 360px) {
  .bl-big-head {
    position: relative;
  }
  .bl-big-head .bl-topbar {
    padding: 10px 20px;
  }
  .bl-big-head .bl-centred .bl-stats {
    font-size: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5 20px;
  }
  .bl-content .bl-cards {
    padding: 20px;
  }
}/*# sourceMappingURL=base_listing.css.map */