<div class="form-replace-card">
    <div class="form-replace-card-img">
        <img src="{{ article.image.url }}" alt="{{ article.imageAlt }}">
        <span class="gen-hashtags">
            {% for hashtag in article.hashtags.all %}
                <span class="gen-hashtag">#{{hashtag}}</span>
            {% endfor %}
        </span>
    </div>
    <div class="form-replace-sum-article">
        <h3>{{ article.title }}</h3>
        <p>
            {{ article.sumItUp}}
        </p>
        <span class="form-replace-date">{{ article.updateDate}}</span>
        <a href="{{ article.get_absolute_url }}" class="form-replace-read">Lire</a>
    </div>
</div>